.block-hover:hover {
    background-color: rgba(0,0,0,0.1);
}

.rem1-25 {
    font-size: 1.25rem;
}







.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}